.rTable {
	display: table;
	width: 50%;
}

.rTableRow {
	display: table-row;
	width: 50%;
}

.rTableHead {
	display: table-header-group;
	width: 50%;
}

.rTableBody {
	display: table-row-group;
}

.rTableFoot {
	display: table-footer-group;
}

.rTableCell, .rTableHead {
	display: table-cell;
	padding: 3px 10px;
}
